body {
    margin: 0;
    padding: 0;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 50px;
    box-shadow: 0 1px 8px #ddd;
    background-color: #000000de;
}
#nav-title img {
    position: relative;
    right: 320px;
    height: 60px;
    width: 175px;
} 

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: 'Jolly Lodger', sans-serif;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 27pt;
    transition: all 0.3s;
}

header a:hover {
    /* color: #dedddd; */
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}

.hog-bg-cont {
    height: 845px;
    background: url("./images/Hogwarts_School.png");
    background-size: cover;
}

.faint-bg {
    height: 400px;
    width: 300px;
    /* margin-right: auto;
    margin-left: auto; */
    position: relative;
    top: 175px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    transition: all 0.1s;
}

#flex-home {
    display: flex;
    justify-content: space-evenly;
}
.faint-bg h3 {
    font-family: 'Jolly Lodger',sans-serif;
    font-size: 35pt;
    background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.4);
    margin: 30px 30px 50px 30px;
}

.faint-bg:hover {
    border: 2px solid #B38728; 
}

#perf {
    position: relative;
    bottom: 18px;
}

#copy {
    height: 300px;
    background-color: rgba(0, 0, 0, 0.298);
}

footer {
    position: absolute;
    bottom: -80px;
    height: 100px;
    width: 100%;
    color: white;
    font-family: 'Jolly Lodger';
    background-color: rgba(0, 0, 0, 0.285);
    text-align: center;
    font-size: 25pt;
}

footer span {
    background-image: linear-gradient(
	to right,
	#4e3735 0,
    #cb9b51 22%, 
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#4e3735 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}